*, *::after, *::before{
        box-sizing: inherit;
}
 
html{
        box-sizing: border-box;
} 

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: "Cormorant Garamond", serif;
	font-size: 1.4rem;
	font-weight: 400;
	color: #302F38;
	background-color: #d5d5d5;
    /*background-size: cover;*/
    /*background-position: center;*/
    height: 100vh;
    overflow: auto;
    padding-top: 25px; 
	line-height: 1.2;
	/*-webkit-font-smoothing: antialiased;*/
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 650px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin: 0 auto; 
    overflow: visible; 
}

.feedback-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.feedback-form, p {
   margin-bottom:10px;
}

.feedback-form h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #333;
	font-size: 2rem;
	font-weight: 500;
}

.horizontal-group {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
   
}

.field {
     flex: 1; 
}

.form-group {
    margin-bottom: 15px;
    
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}
    
.inputTel{
    font-family: serif !important;
    color: inherit ; 
    }
    
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="date"],
.form-group textarea {
    font-family: inherit;
    font-size: 1.2rem;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

@media (max-width: 1025px) {
    .horizontal-group {
        flex-direction: column;
    }
}

.form-group input[type="radio"] {
    width:15px;
	height:15px;
	accent-color: #E4003C;
	margin-right: 10px;
}

.form-group table {
    width: 100%;
    border-collapse: collapse;
	border-radius:5px;
    margin-bottom: 10px;
}

.form-group table th,
.form-group table td {
    padding: 10px;
    text-align: center;
}

.form-group table th {
    background-color: #cacaca;
	color:  #302F38;
}

.form-group table td {
    border: 1px solid #cacaca;
}

.hr-class{
	border: none;
    height: 3px; 
    background-color: #E4003C;
    width: 100%;
    margin: 20px 0;
}

.star-rating {
    display: flex;
    justify-content: center; 
    direction: rtl; 
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    font-size: 2.4em;
    color: #cacaca;
    cursor: pointer;
    margin-right: 5px;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: gold;
}

.star-rating input[type="radio"]:checked + label,
.star-rating input[type="radio"]:checked + label ~ label {
    color: gold;
}

.logo-image {
    display: block;
    margin: 10px auto; 
    width: 45%;      
    height:45%;  
    /*object-fit: cover;*/ 
    border-radius: 10px; 
}

textarea {
	font-family: inherit;
	font-size: 85%;
	color: #302F38;
    resize: vertical;
    height: 130px;
	min-height: 50px;
	max-height: 240px;
}

button {
    display: block;
    margin: 0 auto;
    width: 40%;
    padding: 10px;
    background-color: #302f38;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.6s;
}

button:hover {
    background-color: #E4003C;
}




.tooltip-container {
      position: fixed; 
      bottom: 20px; 
      left: 20px; 
      z-index: 1000;
    }

  
    .tooltip-container button {
      height:30px;
      width:30px;
      font-size: 1rem;
      padding: 8px;
      background-color: #007acc;
      color: white;
      border: none;
      border-radius: 50%;
      cursor: pointer;
    }
    

    .toggletip-bubble {
      position: absolute;
      bottom: 40px; 
      left: 0px; 
      background-color: #333;
      color: white;
      padding: 8px 12px;
      border-radius: 4px;
      font-size: 1rem;
      white-space: nowrap;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      display: none; 
    }

   
    .toggletip-bubble.visible {
      display: block; 
    }

    .toggletip-bubble::after {
      content: "";
      position: absolute;
      top: 100%; 
      left: 10px;
      border-width: 8px;
      border-style: solid;
      border-color: #333 transparent transparent transparent;
    }
    
    /*--color_brand-primary: #302f38;
    --color_brand-secondary: #e4003c;
    --color_brand-tertiary: #9d9d9d;
    --color_bg-primary: #fff;
    --color_bg-secondary: #d5d5d5;
    --color_bg-tertiary: #cacaca;*/